/*popup dialog box for alerts*/
#dialog {
    width: 500px;
    height: 300px;
    padding: 4px;
    top:180px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    -webkit-border-radius: 9px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 9px; /* FF1-3.6 */
    border-radius: 15px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#dialog-bg {
    background-color: #FBFBFB;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

#dialog-title {
    width: 300px;
    height: 30px;
    padding-top: 5px;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E9E9E9)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E9E9E9); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #FFFFFF, #E9E9E9); /* FF3.6 */
    background-image: -ms-linear-gradient(top, #FFFFFF, #E9E9E9); /* IE10 */
    background-image: -o-linear-gradient(top, #FFFFFF, #E9E9E9); /* Opera 11.10+ */
    background-image: linear-gradient(top, #FFFFFF, #E9E9E9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9'); /* IE6-IE9 */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #FFFFFF;
    color: #434343;
    text-shadow: 1px 1px 1px #ffffff;
    filter: dropshadow(color=#ffffff, offx=1, offy=1);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: default;
}

#dialog-description {
    width: 485px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    color: #555555;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    border-top: 1px solid #B9B9B9;
    cursor: default;
}

#dialog-buttons {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    text-align: center;
}

.button,
.button:visited {
    background-color: #222;
    margin-left: 2px;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px  rgba(0,0,0,0.45);
    filter: dropshadow(color= rgba(0,0,0,0.45), offx=1, offy=1);
    cursor: pointer;
}

.button:hover {
    backgroud-color: #111;
    color: #fff;
}

.button:active {
    top: 1px;
    color: #fff;
}

.button,
.button:visited,
.medium.button,
.medium.button:visited {
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
}

.large.button,
.large.button:visited {
    font-size: 13px;
    padding: 8px 14px 9px;
}

.green.button,
.green.button:visited {
    background-color: #72B930;
    color: #fff;
    border: 1px solid #5D8C22;
    padding-left: 15px;
    background-repeat: repeat-x;
}

.green.button:hover {
    background-color: #7DCA34;
    color: #fff;
    border: 1px solid #5D8C22;
    padding-left: 15px;
}

.red.button,
.red.button:visited {
    background-color: #E64444;
    color: #fff;
    border: 1px solid #B63440;
    padding-left: 15px;
    background-repeat: repeat-x;
}

.red.button:hover {
    background-color: #FF4B5A;
    color: #fff;
    border: 1px solid #B63440;
    padding-left: 15px;
}
/*Finished Popup for dialog box alert*/