<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RailSAHAY</display-name>
  <servlet>
   		    <servlet-name>Log4jInit</servlet-name>
   		    <servlet-class>util.logger.Log4jInit</servlet-class>
   		    <init-param>
		    		      <param-name>properties-path</param-name>
		    		      <param-value>/switch/Applications/propertyfiles/</param-value>    
		    		    </init-param>
		    		    <init-param>
		    		      <param-name>log4j-logs-path</param-name>
		    		      <param-value>/switch/Applications/sahaylogs/</param-value>
		    </init-param>
   		      <load-on-startup>2</load-on-startup>	   
 		  </servlet>
  <servlet>
      <servlet-name>GG_MatchCaptcha</servlet-name>
      <servlet-class>util.GenFunc.GG_MatchCaptcha</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>SimpleCaptcha</servlet-name>
      <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
       <load-on-startup>1</load-on-startup>
    </servlet>
   <servlet>
    <servlet-name>GG_GnrtFrgtCalcPDF</servlet-name>
  	<servlet-class>util.pdf.GG_GnrtFrgtCalcPDF</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>GG_GnrtFrgtCalcPDF</servlet-name>
      <url-pattern>/GG_GnrtFrgtCalcPDF</url-pattern>
  </servlet-mapping>
     <servlet>
      <servlet-name>AcqnPlan</servlet-name>
    	<servlet-class>servlet.AppData.AcqnPlan</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AcqnPlan</servlet-name>
        <url-pattern>/AcqnPlan</url-pattern>
    </servlet-mapping>
     <servlet>
      <servlet-name>GCTDataSave</servlet-name>
    	<servlet-class>servlet.AppData.GCTDataSave</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>GCTDataSave</servlet-name>
        <url-pattern>/GCTDataSave</url-pattern>
    </servlet-mapping>
     <servlet>
      <servlet-name>AcqnPlanMIS</servlet-name>
    	<servlet-class>servlet.AppData.AcqnPlanMIS</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AcqnPlanMIS</servlet-name>
        <url-pattern>/AcqnPlanMIS</url-pattern>
    </servlet-mapping>
     <servlet>
      <servlet-name>AcqnPlanResUpload</servlet-name>
    	<servlet-class>servlet.AppData.AcqnPlanResUpload</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AcqnPlanResUpload</servlet-name>
        <url-pattern>/AcqnPlanResUpload</url-pattern>
    </servlet-mapping>
     <servlet>
      <servlet-name>AcqnPlanTrxn</servlet-name>
    	<servlet-class>servlet.AppData.AcqnPlanTrxn</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AcqnPlanTrxn</servlet-name>
        <url-pattern>/AcqnPlanTrxn</url-pattern>
    </servlet-mapping>
   <servlet>
    <servlet-name>FrgtCalc</servlet-name>
  	<servlet-class>servlet.AppData.FrgtCalc</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>CommodityPDF</servlet-name>
      <url-pattern>/CommodityPDF</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CommodityPDF</servlet-name>
  	<servlet-class>servlet.AjaxData.GG_GnrtCmdtPDF</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadMRpdf</servlet-name>
  	<servlet-class>util.pdf.DownloadMRpdf</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>DownloadMRpdf</servlet-name>
      <url-pattern>/DownloadMRpdf</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
      <servlet-name>FrgtCalc</servlet-name>
      <url-pattern>/FrgtCalc</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FrgtCalcJson</servlet-name>
  	<servlet-class>servlet.AppData.FrgtCalcJson</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FrgtCalcJson</servlet-name>
      <url-pattern>/FrgtCalcJson</url-pattern>
  </servlet-mapping>  
   <servlet>
    <servlet-name>FrgtPymtJson</servlet-name>
  	<servlet-class>servlet.AjaxData.FrgtPymtJson</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FrgtPymtJson</servlet-name>
      <url-pattern>/FrgtPymtJson</url-pattern>
  </servlet-mapping> 
   <servlet>
    <servlet-name>FrgtPymtTrxn</servlet-name>
  	<servlet-class>servlet.AppData.FrgtPymtTrxn</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FrgtPymtTrxn</servlet-name>
      <url-pattern>/FrgtPymtTrxn</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FrgtPGTrxn</servlet-name>
  	<servlet-class>servlet.AppData.FrgtPGTrxn</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FrgtPGTrxn</servlet-name>
      <url-pattern>/FrgtPGTrxn</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FrgtPGCartTrxn</servlet-name>
  	<servlet-class>servlet.AppData.FrgtPGCartTrxn</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FrgtPGCartTrxn</servlet-name>
      <url-pattern>/FrgtPGCartTrxn</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PrclDataJson</servlet-name>
  	<servlet-class>servlet.AjaxData.PrclDataJson</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>PrclDataJson</servlet-name>
      <url-pattern>/PrclDataJson</url-pattern>
  </servlet-mapping> 
   <servlet>
    <servlet-name>FrgtPymtTrxnResp</servlet-name>
  	<servlet-class>servlet.AppData.FrgtPymtTrxnResp</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FrgtPymtTrxnResp</servlet-name>
      <url-pattern>/FrgtPymtTrxnResp</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CmdtFrgtCalc</servlet-name>
  	<servlet-class>servlet.AppData.CmdtFrgtCalc</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>CmdtFrgtCalc</servlet-name>
      <url-pattern>/CmdtFrgtCalc</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>login_srvlet</servlet-name>
      <servlet-class>logn.LoginAction</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>logn.LogoutServlet</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>GG_SahayEnty</servlet-name>
      <servlet-class>servlet.core.GG_SahayEnty</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>UsrDshbord_servlet</servlet-name>
      <servlet-class>servlet.AppData.UserDashboard</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>NodalOfcrDashboard</servlet-name>
        <servlet-class>servlet.AppData.NodalOfcrDashboard</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>SR_Servlet</servlet-name>
      <servlet-class>servlet.AppData.SRGeneration</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>Concern_Servlet</servlet-name>
      <servlet-class>servlet.AppData.ConcernGeneration</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>NewCustomer</servlet-name>
      <servlet-class>servlet.AppData.NewCustomer</servlet-class>
  </servlet>
    <servlet>
      <servlet-name>GG_RailSahayCaptcha</servlet-name>
      <servlet-class>util.GenFunc.GG_RailSahayCaptcha</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GG_MatchCaptcha</servlet-name>
      <url-pattern>/matchcaptcha</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
      <url-pattern>/simpleCaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>GG_RailSahayCaptcha</servlet-name>
      <url-pattern>/SahayCaptcha.jpg</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>SHY_LodgeConcern</servlet-name>
      <servlet-class>servlet.AppData.SHY_LodgeConcern</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SHY_LodgeConcern</servlet-name>
      <url-pattern>/SHY_LodgeConcern</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SHY_OwnTrml</servlet-name>
        <servlet-class>servlet.AppData.SHY_OwnTrml</servlet-class>
      </servlet>
      <servlet-mapping>
        <servlet-name>SHY_OwnTrml</servlet-name>
        <url-pattern>/SHY_OwnTrml</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>SHY_OwnWgon</servlet-name>
      <servlet-class>servlet.AppData.SHY_OwnWgon</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>SHY_OwnWgon</servlet-name>
      <url-pattern>/SHY_OwnWgon</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SHY_FrgtRatesDtls</servlet-name>
  	<servlet-class>servlet.AppData.SHY_FrgtRatesDtls</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>SHY_FrgtRatesDtls</servlet-name>
      <url-pattern>/SHY_FrgtRatesDtls</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>FSH_FrgtCalcUtil</servlet-name>
  	<servlet-class>servlet.AjaxData.FSH_FrgtCalcUtil</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>FSH_FrgtCalcUtil</servlet-name>
      <url-pattern>/FSH_FrgtCalcUtil</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>SHY_FrgtRates</servlet-name>
  	<servlet-class>servlet.AppData.SHY_FrgtRates</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>SHY_FrgtRates</servlet-name>
      <url-pattern>/SHY_FrgtRates</url-pattern>
  </servlet-mapping>  
   <servlet>
    <servlet-name>VldtEmail</servlet-name>
  	<servlet-class>servlet.AjaxData.VldtEmail</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>VldtEmail</servlet-name>
      <url-pattern>/VldtEmail</url-pattern>
  </servlet-mapping>    
   <servlet>
    <servlet-name>VldtMobile</servlet-name>
  	<servlet-class>servlet.AjaxData.VldtMobile</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>VldtMobile</servlet-name>
      <url-pattern>/VldtMobile</url-pattern>
  </servlet-mapping>   
   <servlet>
    <servlet-name>VldtPassword</servlet-name>
  	<servlet-class>servlet.AjaxData.VldtPassword</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>VldtPassword</servlet-name>
      <url-pattern>/VldtPassword</url-pattern>
  </servlet-mapping>    
   <servlet>
    <servlet-name>ConfirmRegistration</servlet-name>
  	<servlet-class>servlet.AppData.ConfirmRegistration</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>ConfirmRegistration</servlet-name>
      <url-pattern>/ConfirmRegistration</url-pattern>
  </servlet-mapping>        
   <servlet>
    <servlet-name>UserRgtn</servlet-name>
  	<servlet-class>servlet.AppData.UserRgtn</servlet-class>
  </servlet>
   <servlet-mapping>
      <servlet-name>UserRgtn</servlet-name>
      <url-pattern>/UserRgtn</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>GnrtOTP</servlet-name>
        <servlet-class>servlet.AppData.GnrtOTP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GnrtOTP</servlet-name>
        <url-pattern>/gnrtotp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActvtUserOtp</servlet-name>
        <servlet-class>servlet.AppData.ActvtUserOtp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActvtUserOtp</servlet-name>
        <url-pattern>/actvtuserotp</url-pattern>
    </servlet-mapping>  
      <servlet>
        <servlet-name>login_FBD</servlet-name>
        <servlet-class>logn.FBDLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_FBD</servlet-name>
        <url-pattern>/fbdlogin</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
        <servlet-name>NodalOfcrDashboard</servlet-name>
        <url-pattern>/NodalOfcrDashboard</url-pattern>
  </servlet-mapping>
   <servlet>
  		<servlet-name>GG_AjaxUtil</servlet-name>
  		<servlet-class>servlet.AjaxData.GG_AjaxUtil</servlet-class>
  	  </servlet>
   <servlet-mapping>
      <servlet-name>GG_AjaxUtil</servlet-name>
      <url-pattern>/GG_AjaxUtil</url-pattern>
  </servlet-mapping>
   <servlet>
  		<servlet-name>GG_CmdtViewJson</servlet-name>
  		<servlet-class>servlet.AjaxData.GG_CmdtViewJson</servlet-class>
  	  </servlet>
   <servlet-mapping>
      <servlet-name>GG_CmdtViewJson</servlet-name>
      <url-pattern>/GG_CmdtViewJson</url-pattern>
  </servlet-mapping>

	<servlet>
  		<servlet-name>RgstSecCustUtil</servlet-name>
  		<servlet-class>servlet.AjaxData.RgstSecCustUtil</servlet-class>
  	  </servlet>
   <servlet-mapping>
      <servlet-name>RgstSecCustUtil</servlet-name>
      <url-pattern>/RgstSecCustUtil</url-pattern>
  </servlet-mapping>


  <servlet>
  		<servlet-name>GG_SahayAjaxData</servlet-name>
  		<servlet-class>servlet.AjaxData.GG_SahayAjaxData</servlet-class>
  	  </servlet>
   <servlet-mapping>
      <servlet-name>GG_SahayAjaxData</servlet-name>
      <url-pattern>/GG_SahayAjaxData</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>GG_TrmlDashbordJson</servlet-name>
      <servlet-class>servlet.AjaxData.GG_TrmlDashbordJson</servlet-class>
    </servlet>
  <servlet>
      <servlet-name>GG_MiscQryJson</servlet-name>
      <servlet-class>servlet.AjaxData.GG_MiscQryJson</servlet-class>
    </servlet>
  <servlet>
      <servlet-name>GG_TrmlDataJson</servlet-name>
      <servlet-class>servlet.AjaxData.GG_TrmlDataJson</servlet-class>
    </servlet>
  <servlet>
      <servlet-name>GG_NodlOfcrJson</servlet-name>
      <servlet-class>servlet.AjaxData.GG_NodlOfcrJson</servlet-class>
    </servlet>
  <servlet>
      <servlet-name>GG_PrclTranData</servlet-name>
      <servlet-class>servlet.AjaxData.GG_PrclTranData</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>GG_TrmlDataJson</servlet-name>
      <url-pattern>/GG_TrmlDataJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>GG_TrmlDashbordJson</servlet-name>
      <url-pattern>/GG_TrmlDashbordJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>GG_MiscQryJson</servlet-name>
      <url-pattern>/GG_MiscQryJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>GG_NodlOfcrJson</servlet-name>
      <url-pattern>/GG_NodlOfcrJson</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
      <servlet-name>GG_PrclTranData</servlet-name>
      <url-pattern>/GG_PrclTranData</url-pattern>
    </servlet-mapping>   
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>login_srvlet</servlet-name>
      <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>UsrDshbord_servlet</servlet-name>
      <url-pattern>/UserDashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>SR_Servlet</servlet-name>
      <url-pattern>/RaiseSR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>Concern_Servlet</servlet-name>
      <url-pattern>/RaiseConcern</url-pattern>
  </servlet-mapping>
    <servlet>
      <servlet-name>Request_Servlet</servlet-name>
      <servlet-class>servlet.AppData.RequestGeneration</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Request_Servlet</servlet-name>
      <url-pattern>/RaiseRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>NewCustomer</servlet-name>
      <url-pattern>/NewCustomer</url-pattern>
  </servlet-mapping>
    <servlet>
  		<servlet-name>PageReDirect</servlet-name>
      	<servlet-class>servlet.AppData.PageReDirect</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>PageReDirect</servlet-name>
      <url-pattern>/Home.jsp</url-pattern>
    </servlet-mapping>
    <servlet>
     <servlet-name>SHY_OdrRasJSON</servlet-name>
          <servlet-class>servlet.AppData.SHY_OdrRasJSON</servlet-class>
        </servlet>
        <servlet-mapping>
          <servlet-name>SHY_OdrRasJSON</servlet-name>
          <url-pattern>/SHY_OdrRasJSON</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
          <servlet-name>GG_SahayEnty</servlet-name>
          <url-pattern>/GG_SahayEnty</url-pattern>
    </servlet-mapping>
     <servlet>
           <servlet-name>GSTTaxInvc</servlet-name>
                <servlet-class>servlet.AppData.GSTTaxInvc</servlet-class>
              </servlet>
              <servlet-mapping>
                <servlet-name>GSTTaxInvc</servlet-name>
                <url-pattern>/GSTTaxInvc</url-pattern>
      </servlet-mapping>
      <servlet>
             <servlet-name>GG_GnrtCmdtPDF</servlet-name>
                  <servlet-class>servlet.AjaxData.GG_GnrtCmdtPDF</servlet-class>
                </servlet>
                <servlet-mapping>
                  <servlet-name>GG_GnrtCmdtPDF</servlet-name>
                  <url-pattern>/GG_GnrtCmdtPDF</url-pattern>
      </servlet-mapping>
      <servlet>
      		    <servlet-name>GG_LognActn</servlet-name>         
      		    <servlet-class>logn.GG_LognActn</servlet-class>
          </servlet>
          <servlet-mapping>
      		    <servlet-name>GG_LognActn</servlet-name>
      		    <url-pattern>/GG_LognActn</url-pattern>
          </servlet-mapping>
           <servlet>
      		    <servlet-name>GG_LgotActn</servlet-name>
      		    <servlet-class>logn.GG_LgotActn</servlet-class>
          </servlet>
           <servlet-mapping>
      		    <servlet-name>GG_LgotActn</servlet-name>
      		    <url-pattern>/GG_LgotActn</url-pattern>
          </servlet-mapping>
          <servlet>
      		    <servlet-name>GG_SesnMntc</servlet-name>
      		    <servlet-class>logn.GG_SesnMntc</servlet-class>
          </servlet>
          <servlet-mapping>
      		    	<servlet-name>GG_SesnMntc</servlet-name>
      		    	<url-pattern>/GG_SesnMntc</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<session-config>
  <session-timeout>10</session-timeout>
 </session-config>
<error-page>
<error-code>500</error-code>
<location>/pages/Error1.jsp</location>
</error-page>
<error-page>
<error-code>404</error-code>
<location>/pages/Error1.jsp</location>
</error-page>
<error-page>
<error-code>403</error-code>
<location>/pages/Error1.jsp</location>
</error-page>
<error-page>
<exception-type>java.io.IOException</exception-type>
<location>/pages/Error1.jsp</location>
</error-page>  
</web-app>