.custom-file::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file::before {
  content: 'Choose File';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file:hover::before {
  border-color: black;
}
.custom-file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.table-upload td{
    padding:5px;
    font-size:14px;
}
td.file-label
{
        font-weight:700;
        color:#4d4d4d;
}
.table-upload
{
    margin:1rem;
    margin-left:0px;
    margin-right:0px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.table-upload thead td{
    font-weight:600;
    color:#fff;
    font-family:'Roboto';
    background:#2eb8b8;
    border:0px;
}
.table-upload tfoot td{
    font-weight:500;
    color:#fff;
    font-family:'Roboto';
    background:#2eb8b8;
    border:0px;
    font-size:13px;
}
.file-name
{
    color:#b32400;
    font-weight:600;
}
.file-name .fa-check
{
    color:#339933 !important;
}
a.file-link
{
    color:#cc5200 !important;
    font-weight:700;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}